[submodule "CppTools"]
	path = CppTools
	url = git@github.com:Sergeyir/CppTools
[submodule "ProgressBar"]
	path = ProgressBar
	url = git@github.com:Sergeyir/ProgressBar
[submodule "ROOTTools"]
	path = ROOTTools
	url = git@github.com:Sergeyir/ROOTTools
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "PHENIXTools"]
	path = PHENIXTools
	url = git@github.com:Sergeyir/PHENIXTools
